<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>error occurred</title>
        <link rel="icon" href="../../utils/img/errorW.png">    
    </head>
    <body>
        <div class="main-content"> 
            
            <h1>{{status}}</h1>
            <br>
            <h3>{{message}}</h3>
            <br>
            <h4>Click here to go to the {{destination}}</h4>
            <br>
            <h3><a href = "{{goto}}">{{destination}}</a></h3>
        </div>

        
    </body>
</html>
