<!DOCTYPE html>
<html>
    <head>
        
        <title>giggle</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/friends.css">
    </head>

    <body>        
        {{> navbar}}

        <div class="main-content">
        
        <h4 id = "punyJudge">{{message}}</h4>
       
       <div id="friendsList"> 
            {{#each friends}}
            <div class= "friendsLoopBlock">
                <h3 class = "friendName">{{this.fullname}}</h3>
                <h4><a href="/findUser/{{this.username}}" style="text-decoration: none;" class ="friendUserName">{{this.username}}</a></h4>
                <button id="directChatBtn" class="privateChatBtn action-btn">Chat</button>
                <button class="cancelFriendButton action-btn" onclick="cancelFriendshipBtnWork(this)">Remove</button>
            </div>
            {{/each}}

        </div> 
        <br>
        <p class = "messageN"></p>
        <a style="display: none;" id="anchorToFriendsPage" href="/friends"></a>
        <p style="display: none;" id = "myUsername">{{myUsername}}</p>
        
        </div>
        

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/cancelFriendship.js"></script>
<script src = "/js/directLinker.js" type="module"></script>        
<script src = "/js/privateChatLinker.js" type="module"></script>        
           
    </body>
</html>
