<!DOCTYPE html>
<html>
    <head>
        
        <title>giggle</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/friends.css">
    </head>

    <body>        
        {{> navbar}}

        <div class="main-content">
        
        <h4 id = "punyJudge">{{message}}</h4>
       
       <div id="friendsList"> 
            {{#each friends}}
            <div class= "friendsLoopBlock">
                <h3 class = "friendName">{{this.fullname}}</h3>
                <h4><a href="/findUser/{{this.username}}" style="text-decoration: none;" class ="friendUserName">{{this.username}}</a></h4>
                <button class="privateChatBtn action-btn" onclick="privateChatLinkage(this)">Chat</button>
                <button class="cancelFriendButton action-btn" onclick="cancelFriendshipBtnWork(this)">Remove</button>
            </div>
            {{/each}}

        </div> 
        <br>
        <p class = "messageN"></p>
        <a style="display: none;" id="anchorToFriendsPage" href="/friends"></a>
        <p style="display: none;" id = "myUsername">{{myUsername}}</p>
        
        </div>
        

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<script src="/js/cancelFriendship.js"></script>
<script src = "/js/privateChatLinker.js"></script>        
           
    </body>
</html>
