<!DOCTYPE html>
<head>
    <title>
        index
        </title>
</head>
<body>
<div class = "notify">
{{>messages}}
</div>
<h1>giggle</h1>
{{test}}
<div class="main-content">
                <br>
                <br>
                <button  class = "login-btn" ><a href="{{gotoLogin}}">{{login}}</a></button> 
                <br>
                <br>
                <button class = "register-btn" ><a href="{{gotoRegister}}">{{register}}</a></button> 
                <br>    
        </div>
</body>
<script src = "../../helpers/message-loader.js"></script>
</html>