<!DOCTYPE html>
<html>
    <head>
        <title>giggle</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body> 
        {{>navbar}}
        <div class="main-content">
            <div class="profile-content">    
            
                <p class="t">Email:<span class="d"> {{email}} </span> </p>
                <p class="t">Username:<span class="d"> {{username}} </span> </p>
                <p class="t">Name:<span class="d"> {{fullname}} </span> </p>
                <p class="t">About:<span class="d"> {{about}} </span> </p>
            <br>
                <button class="action-btn updateProfile">Edit Profile</button>
            <br>
            </div>
        </div>

        <script>
            const e = document.querySelector('.updateProfile');
            e.addEventListener('click', (e)=>{
                location.assign('/profile/patch');
            })
            // var picture = document.getElementById('profilepic')
            // var pic = {{{pic}}}
            // picture.src= "data:image/png;base64, "+pic
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
