<!DOCTYPE html>
<html>
    <head>
        <title>giggle</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body> 
        {{>navbar}}
        <div class="main-content">
            <div class="profile-content">    
            
                <p class="t">Email:<span class="d"> {{email}} </span> </p>
                <p class="t">Username:<span class="d"> {{username}} </span> </p>
                <p class="t">Name:<span class="d"> {{fullname}} </span> </p>
                <p class="t">About:<span class="d"> {{about}} </span> </p>
            <br>
                <button><a href="/profile/patch" class="updateProfile" method = "get">Edit Profile</a></button>
            <br>
                <hr>
                <div>
                    {{!-- <picture>{{pic}}</picture> --}}
                    <img id='profilepic'>
                </div>
                <hr>
            
            </div>
        </div>

        <script>
            // var picture = document.getElementById('profilepic')
            // var pic = {{{pic}}}
            // picture.src= "data:image/png;base64, "+pic
        </script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  

    </body>
</html>
